// Placeholder to allow overriding predefined variables smoothly.

/** minima/initialize.scss */

// Width of the content area
$content-width:    1000px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;
